@import "tailwindcss";
@import "dara-ui/style.css";

/* =============================================
  GLOBAL
  ============================================= */

html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition:
    background-color var(--transition-base),
    color var(--transition-base);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
}
